* {
    padding: 3;
    margin: 0;
}

.container {
}

.index-navbar {
    background-color: #f6f7d7;
}

.index-nav {
    margin-right: 10px;
    text-transform: capitalize;
    font-size: 18px;
    color: white !important;
}

.logo {
    height: 60px;
    margin-top: 3px;
    margin-left: 35px;
}

.signin-btn {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 15px;
    width: 100px;
    border: 2px solid;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    margin-left: 50px;
    background-color: #FFFFFF;
    color: #E34F4D;
}

.signin-btn:hover {
    color: #FFF;
    background: #E34F4D;
    border: 2px solid #E34F4D;
  }